<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h2>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
</div>

<%= @message %>

<%= for key <- @threads do %>
  <div>
    <a href="https://reddit.com<%= key.permalink %>">
      <%= key.title %>
    </a>
  </div>
<% end %>
